<!-- Navigation bar -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
<nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <div class="col-lg-12">
        <a class="navbar-brand" href="#"></a>
        <!-- LOGO NOT WORKING, CAN'T FIX SIZE DUE TO UNRECOGNIZED CSS, TODO -->
        <!-- <img src="../../assets/cowork-logo_2.png" id="logo"> -->

        <div class="navigation-container" id="mobile_menu">
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li class="active"><a routerLink="/locations" routerLinkActive="active">Locations</a></li>
                <li class="active"><a routerLink="/" routerLinkActive="active">Workspace</a></li>
                <li class="active"><a routerLink="/" routerLinkActive="active">Entreprise</a></li>
                <li class="active"><a routerLink="/" routerLinkActive="active">Ideas</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                 <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Basic dropdown<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    </div>
                </li>

                <li><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up</a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/login">Login</a></li>
                        <li><a routerLink="/register">Sign Up</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>