<!--Panel 2-->
<div class="tab-pane fade in show active" id="second-step" role="tabpanel">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-5 mb-4">

      <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid z-depth-1-half"
        alt="Second sample image">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-7 mb-4">

      <h5 class="mb-3 h5">Additional premium support</h5>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ea ut aperiam corrupti,
        dolorem.</p>

      <!--Name-->
      <select class="mdb-select colorful-select dropdown-info">
        <option value="" disabled>Choose a period of time</option>
        <option value="1" selected>+6 months : 200$</option>
        <option value="2">+12 months: 400$</option>
        <option value="3">+18 months: 800$</option>
        <option value="4">+24 months: 1200$</option>
      </select>

      <button type="button" class="btn btn-primary btn-md">Add premium support to the cart</button>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <hr class="mb-5">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-5 mb-4">

      <img src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg" class="img-fluid z-depth-1-half"
        alt="Second sample image">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-7 mb-4">

      <h5 class="mb-3 h5">MDB Membership</h5>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ea ut aperiam corrupti,
        dolorem.</p>

      <!--Name-->
      <select class="mdb-select colorful-select dropdown-info">
        <option value="" disabled>Choose a period of time</option>
        <option value="1" selected>+6 months : 200$</option>
        <option value="2">+12 months: 400$</option>
        <option value="3">+18 months: 800$</option>
        <option value="4">+24 months: 1200$</option>
      </select>

      <button type="button" class="btn btn-primary btn-md">Add MDB Membership to the cart</button>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <hr class="mb-4">


  <a mdbBtn [routerLink]="['/third-step']" routerLinkActive="active" mdbWavesEffect
  class="btn btn-primary btn-lg btn-block" data-wow-delay="0.3s">Next step
  </a>

</div>
<!--/.Panel 2-->