<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">

    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
      <form class="form-inline" [formGroup]="profileForm">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Try 'Paris'" aria-label="Search">
        </div>
        <button type="button" mdbBtn color="light" mdbWavesEffect>Search</button>
      </form>
    </mdb-navbar>

    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">

      <!--Grid row-->
      <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://s3-eu-west-1.amazonaws.com/blog-kickresume-com/content/images/2015/04/Airbnb_startup-2.jpg" class="card-img-top"
                alt="">
              <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Bastille</h4>
              <!--Text-->
              <p class="card-text">This is the favourite coworking site of our Paris clients. A coworking site de ouf!</p>
              <a routerLink="/location" routerLinkActive="active" mdbWavesEffect target="_blank"
                class="btn btn-primary btn-md">See more
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://iw-blog-uploads.s3.amazonaws.com/uploads/2016/10/rsz_air_bnb.jpg" class="card-img-top"
                alt="">
              <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">République</h4>
              <!--Text-->
              <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to
                his behavior.</p>
              <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank"
                class="btn btn-primary btn-md">See more
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://i.pinimg.com/originals/03/c0/46/03c046619c328934992dbdfd5aa11c14.jpg" class="card-img-top" alt="">
              <a href="https://mdbootstrap.com/education/tech-marketing/web-push-introduction/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Odéon</h4>
              <!--Text-->
              <p class="card-text">Push messaging provides a simple and effective way to re-engage with your users
                and in this
                tutorial you'll learn how to add push notifications to your web app</p>
              <a href="https://mdbootstrap.com/education/tech-marketing/web-push-introduction/" target="_blank" class="btn btn-primary btn-md">See
                more
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://i.insider.com/5977b5b0552be55f008b67e1?width=1200" class="card-img-top"
                alt="">
              <a href="https://mdbootstrap.com/angular/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Place d'Italie</h4>
              <!--Text-->
              <p class="card-text">Built with Angular 5, Bootstrap 4 and TypeScript. CLI version available. </p>
              <a href="https://mdbootstrap.com/angular/" target="_blank" class="btn btn-primary btn-md">See more 
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://cdn.vox-cdn.com/thumbor/JxMNEOvO7jBVAe_AIVY5uZgxT_k=/0x0:1801x1200/1200x0/filters:focal(0x0:1801x1200):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/10560493/7_Feldman_Scenic_3417_B.jpg" class="card-img-top" alt="">
              <a href="https://mdbootstrap.com/react/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Ternes</h4>
              <!--Text-->
              <p class="card-text">Based on the latest Bootstrap 4 and React 16. </p>
              <a href="https://mdbootstrap.com/react/" target="_blank" class="btn btn-primary btn-md">See more 
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://i.insider.com/5977b5fe5d8a2f1f008b5442?width=1200" class="card-img-top" alt="">
              <a href="https://mdbootstrap.com/vue/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Beaubourg</h4>
              <!--Text-->
              <p class="card-text">Based on the latest Bootstrap 4 and Vue 2.5.7. </p>
              <a href="https://mdbootstrap.com/vue/" target="_blank" class="btn btn-primary btn-md">See more 
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Cards-->

  </div>
</main>
<!--Main layout-->