<main class="mt-5 pt-5">
  <div class="container">

    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://s3-eu-west-1.amazonaws.com/blog-kickresume-com/content/images/2015/04/Airbnb_startup-2.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->
    
      <!-- Card content -->
      <mdb-card-body cascade="true" class="text-center">
    
        <!--Title-->
        <mdb-card-title>
          <h1>
            <strong>Co'Work Bastille</strong>
          </h1>
        </mdb-card-title>
    
        <h5 class="indigo-text">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>
          <strong>Paris, France</strong>
        </h5>
    
        <mdb-card-text>
          This is the favourite coworking site of our Paris clients. A coworking site de ouf!
        </mdb-card-text>

      </mdb-card-body>
    
    </mdb-card>

    <div class="container">
      <div class="row">
        <div class="col">
          <strong>Timetable</strong>
          <div class="row">
            <div class="col">Monday</div>
            <div class="col">Tuesday</div>
            <div class="col">Wednesday</div>
            <div class="col">Thursday</div>
            <div class="col">Friday</div>
            <div class="col">Saturday</div>
            <div class="col">Sunday</div>
          </div>
          <div class="row">
            <div class="col">9 a.m. to 8 p.m.</div>
            <div class="col">9 a.m. to 8 p.m.</div>
            <div class="col">9 a.m. to 8 p.m.</div>
            <div class="col">9 a.m. to 8 p.m.</div>
            <div class="col">9 a.m. to 8 p.m.</div>
            <div class="col">11 a.m. to 8 p.m.</div>
            <div class="col">11 a.m. to 8 p.m.</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/.Card-->

</main>