<main class="mt-5 pt-5">
  <div class="container">

    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://s3-eu-west-1.amazonaws.com/blog-kickresume-com/content/images/2015/04/Airbnb_startup-2.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->
    
      <!-- Card content -->
      <mdb-card-body cascade="true" class="text-center">
    
        <!--Title-->
        <mdb-card-title>
          <h1>
            <strong>Co'Work Bastille</strong>
          </h1>
        </mdb-card-title>
    
        <h5 class="indigo-text">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>
          <strong>Paris, France</strong>
        </h5>
    
        <mdb-card-text>
          This is the favourite coworking site of our Paris clients. A coworking site de ouf!
        </mdb-card-text>

      </mdb-card-body>
    
    </mdb-card>

  </div>
  <!--/.Card-->

</main>