<!--Panel 3-->
<div class="tab-pane fade in show active" id="third-step" role="tabpanel">

  <!-- <div class="d-block my-3">
    <div class="mb-2">
      <input name="group2" type="radio" class="form-check-input with-gap" id="radioWithGap4" checked
        required>
      <label class="form-check-label" for="radioWithGap4">Credit card</label>
    </div>
    <div class="mb-2">
      <input iname="group2" type="radio" class="form-check-input with-gap" id="radioWithGap5"
        required>
      <label class="form-check-label" for="radioWithGap5">Debit card</label>
    </div>
    <div class="mb-2">
      <input name="group2" type="radio" class="form-check-input with-gap" id="radioWithGap6" required>
      <label class="form-check-label" for="radioWithGap6">Paypal</label>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input type="text" class="form-control" id="cc-name" placeholder="" [disabled]="true"> <!--required-->
      <small class="text-muted">Full name as displayed on card</small>
      <div class="invalid-feedback">
        Name on card is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" [disabled]="true"> <!--required-->
      <div class="invalid-feedback">
        Credit card number is required
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">Expiration</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" [disabled]="true"> <!--required-->
      <div class="invalid-feedback">
        Expiration date required
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cc-cvv">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="" [disabled]="true"> <!--required-->
      <div class="invalid-feedback">
        Security code required
      </div>
    </div>
  </div>
  <hr class="mb-4">

  <!-- type="submit" -->
  <a mdbBtn [routerLink]="['/third-step']" routerLinkActive="active" mdbWavesEffect
  class="btn btn-primary btn-lg btn-block" data-wow-delay="0.3s">Place order
  </a>

</div>
<!--/.Panel 3-->