<div class="container mt-5" *ngIf="location">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-8">

            <!-- Pills navs -->
            <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
              <li class="nav-item">
                <!-- href="#first-step" -->
                <a class="nav-link active" data-toggle="tab" role="tab"
                [routerLink]="['/book/'+locationID+'/first-step']" routerLinkActive="active" mdbWavesEffect>1. Schedule booking</a>
              </li>
              <li class="nav-item">
                <!-- href="#second-step" -->
                <a class="nav-link" data-toggle="tab" role="tab"
                [routerLink]="['/book/'+locationID+'/second-step']" routerLinkActive="active" mdbWavesEffect>2. Add services</a>
              </li>
              <li class="nav-item">
                <!-- href="#third-step" -->
                <a class="nav-link" data-toggle="tab" role="tab"
                [routerLink]="['/book/'+locationID+'/third-step']" routerLinkActive="active" mdbWavesEffect>3. Payment</a>
              </li>
            </ul>

            <!-- Pills panels -->
            <div class="tab-content pt-4">

              <!-- <app-first-step></app-first-step> -->
              <router-outlet></router-outlet>

            </div>
            <!-- Pills panels -->


          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="true">Place order</button>

            <!--Card-->
            <div class="card z-depth-0 border border-light rounded-0">

              <!--Card content-->
              <div class="card-body">
                <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Summary</h4>

                <hr>
                <dl class="row">
                  <dd class="col-sm-8">
                    Meeting room {{location.name}}
                  </dd>
                  <dd class="col-sm-4">
                    20 €
                  </dd>
                </dl>

                <hr>
                <dl class="row">
                  <dd class="col-sm-8">
                    booking.start = {{booking.start}}
                  </dd>
                  <dd class="col-sm-8">
                    user.lastName = {{booking.user.lastName}}
                  </dd>
                </dl>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>