<h1>Reimagine your workspace</h1>
  
<h3>Whether you’re an established enterprise or a growing startup, discover flexible spaces and solutions to move your business forward.</h3>

<article class="all-browsers">
<h1>Most Popular Browsers</h1>
<article class="browser">
    <h2>Google Chrome</h2>
    <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</article>
<article class="browser">
    <h2>Google Chrome</h2>
    <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</article>
<article class="browser">
    <h2>Mozilla Firefox</h2>
    <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
</article>
<article class="browser">
    <h2>Microsoft Edge</h2>
    <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
</article>
</article>

<nav>
<ul>
    <li><a routerLink="/login" routerLinkActive="active">Login Component</a></li>
    <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
</ul>
</nav>