<!-- Default form register -->
<form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--Header-->
    <div class="text-center">
      <h3 class="white-text">Sign Up</h3>
      <hr class="hr-light">
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text"
         formControlName="firstName"
         placeholder="First name"
         class="form-control" 
         [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
         <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
             <div *ngIf="f.firstName.errors.required">First Name is required</div>
         </div>
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text"
        formControlName="lastName"
        placeholder="First name"
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>

    <!-- Username -->
    <div class="form-row mb-4">
      <input type="text"
      formControlName="username"
      placeholder="Username"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>

    <!-- E-mail -->
    <!-- <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"> -->

    <!-- Password -->
    <input type="password" 
    id="defaultRegisterFormPassword" 
    formControlName="password"  
    class="form-control" 
    placeholder="Password" 
    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    </small>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>

    <!-- Repeat Password -->
    <input type="password" 
    id="defaultRegisterFormPasswordRep" 
    formControlName="password"  
    class="form-control" 
    placeholder="Repeat Password" 
    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    </small>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" type="submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sign Up
    </button>

    <hr>
    <!-- Register -->
    <p>
      <a routerLink="/">Cancel</a>
    </p>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a></p>

  </form>
  <!-- Default form register -->