<main class="mt-5 pt-5">
  <div class="container" *ngIf="location$ | async as location">

    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src={{ location.avatar.url }}></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->
    
      <!-- Card content -->
      <mdb-card-body cascade="true" class="text-center">
    
        <!--Title-->
        <mdb-card-title>
          <h1>
            <strong>Co'Work {{ location.name }}</strong>
          </h1>
        </mdb-card-title>
    
        <h5 class="indigo-text">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>
          <strong> Paris, France</strong>
        </h5>
    
        <mdb-card-text>
          {{ location.description }}
        </mdb-card-text>

      </mdb-card-body>
    
    </mdb-card>

  </div>
  <!--/.Card-->
  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5">
      <div>
        <h1>
          <strong>Services</strong>
        </h1>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="wifi" class="indigo-text pr-3"></mdb-icon>High speed Wi-Fi
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="concierge-bell" class="cyan-text pr-3"></mdb-icon>Meal tray
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="glass-martini" class="orange-text pr-3"></mdb-icon> Unlimited drinks
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="calendar-alt" class="blue-grey-text pr-3"></mdb-icon>2 bookable meeting rooms
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="phone" class="blue-text pr-3"></mdb-icon>3 bookable call rooms
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="couch" class="red-text pr-3"></mdb-icon>1 cozy lounge
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <mdb-icon fas icon="print" class="green-text pr-3"></mdb-icon> 1 printer
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5">
      <div>
        <h1>
          <strong>Timetable</strong>
        </h1>
      </div>
      
      <div class="table-responsive text-nowrap">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednesday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
              <th scope="col">Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9 am to 8 pm</td>
              <td>9 am to 8 pm</td>
              <td>9 am to 8 pm</td>
              <td>9 am to 8 pm</td>
              <td>9 am to 8 pm</td>
              <td>11 am to 8 pm</td>
              <td>11 am to 8 pm</td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </section>
  </div>

  <div class="container">
      <button class="col-md-12" mdbBtn type="button" gradient="blue" rounded="true"
      [routerLink]="['/book']" routerLinkActive="active" mdbWavesEffect data-wow-delay="0.3s">
        Book a time slot</button>
  </div>

</main>